.section-wrapper {
  &.inContainer {
    max-width: var(--max-content-width);
    margin: 0 auto;

    @media (max-width: 1520px) {
      max-width: 100%;
      padding: 0 40px;
    }
    @media (max-width: 500px) {
      padding: 0 20px;
    }
  }
  &.marginTop {
    margin-top: 100px;
  }
  &.marginBottom {
    margin-bottom: 100px;
  }

  .columns {
    display: flex;
    justify-content: center;
    align-items: center;

    .column {
      flex: 0 0 100%;
    }

    &.cols2 .column {
      flex: 0 0 50%;
    }
    &.cols3 .column {
      flex: 0 0 33.333333%;
    }
  }
}