{% macro cta(info) %}

  <div class="cta">
    {% set classString = "" %}
    {% if info.kind === 'button' %}
      {% set classString = classString ~ " button" %}
    {% else %}
      {% set classString = classString ~ " text-link" %}
    {% endif %}
    {% if info.type %}
      {% set classString = classString ~ " " ~ info.type %}
    {% endif %}
    {% if info.isVideoTrigger %}
      {% set classString = classString ~ " js-modal-video" %}
    {% endif %}

    <a 
      href="{{ info.url }}" 
      class="{{ classString }}" 
      {% if info.isExternal %}target="_blank" rel="noopener noreferrer"{% endif %}
      {% if info.isVideoTrigger %}data-video-id="{{ cta.videoId }}"{% endif %}
    >
      {{ info.label}}
    </a>
  </div>
{% endmacro %}